.columns-2.apsc #postbox-container-1 {
	width: 60%;
}
.columns-2.apsc #postbox-container-2 {
	width: 38%;
	margin-left: 2%;
}
.apsc .postbox-container .postbox h3 {
	cursor: default;
}


.apsc .postbox-container table td {
	padding-bottom: 30px;
}
.apsc .postbox-container .disabled {
	opacity: 0.4;
}
.apsc .postbox-container .form-table.disabled {
	display: none;
}
.apsc .postbox-container .orderby_customfields_settings .orderby_custom_fields ul.custom_fields_lists li {
	display: inline-block;
	margin-right: 14px;
}
.apsc .postbox-container .postbox.closed .inside,
.apsc .postbox-container .orderby_customfields_settings .orderby_custom_fields,
.apsc .postbox-container .orderby_customfields_settings .orderby_custom_fields ul.custom_fields_lists {
	display: none;
}


.apsc .postbox-container #donationbox {
	background: #87BCE4;
	border: 1px solid #227499;
}
.apsc .postbox-container #donationbox .inside {
	padding: 6px 10px 10px 10px;
}
.apsc .postbox-container #donationbox .inside .donation_memo {
	background: #FFF8D9;
	padding: 2px 10px;
}
